body
  margin: 0
  padding: 0
  font-family: sans-serif

.App-intro
  font-size: large
  display: flex
  flex-direction: row
  align-items: stretch
  flex-wrap: wrap

.card-view
  padding: 16px 13px
  max-width: 350px
  .card-action
    .btn
      margin: 2px 7px


@keyframes App-logo-spin
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
